.funny {
  font-size: 70px;
  color: #0F2105;
  font-family: Cambria;
  margin-bottom: 70px;
}

.kickstarter {
  border-radius: 20px;
}

#twitter {
  max-width: 30%;
  max-height: 696px;
  overflow-x: hidden;
  overflow-y: scroll;
  float: right;
}
